$secondary-color: #6c757d;
$main-bg-color: #ffffff33;
$light-font-color-100: #3d3d3d;
$light-font-color-200: #545454;
$light-font-color-300:#777;
$light-font-color-400:#8c8c8c;
$text-shadow: #612c2c63;
$clap-seceond-color: #ad454e;
$primary-color: #612c2c;

#tm-navbar {
  background: #c1575780;
}
.tm-dialog-title {
  border-bottom: 1px solid lightgray;
}
.tm-nav-brand {
  color: white !important;
  text-transform: uppercase;
  font-weight: bold;
}
.tm-nav-link {
  &:hover {
    background-color:#000000d9;
    color: white !important;
  }
}
.tm-nav {
  flex: 2;
}
.auth-login {
  padding: 0px  15px;
}
.tm-model {
  color: rgba(0, 0, 0, 0.54);
  &-header {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    color: black;
    border-bottom: none ;
  }
  &-body {
    color: rgba(0, 0, 0, 0.54);
  }
  &-footer {
    border-top: none ;
    padding: 8px;
  }
}

.search-box-container {
  display: inline-block;
  .search-box {
    border-radius: 20px;
    height: 40px;
    background: white;
    width: auto;
    padding: 0px;
    &:hover > .search-txt {
      width: 240px;
      padding: 0 6px;
    }
    &:hover > .search-btn {
      background: #ffffff66;
    }
  }
  .search-btn {
    text-decoration: none;
    color: #e84118;
    padding: 0px;
    margin: 0px;
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    background: #ffffff66;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    margin: 0px;
    color: $secondary-color;
    font-size: 16px;
    line-height: 40px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
  }
}
.tm-posts-view{
  margin: 30px 50px;
  max-width: 780px;
  height: 100%;
}
.tm-single-post-view-container {
  height: 100%;
  position: relative;
}
.tm-single-post-view {
  overflow: auto;
  position: absolute;
  top:0px;
  bottom: 0px;
  right: 0px;
  left: 220px;
  padding: 30px;
}
.tm-profile {
  .name,.about-me,.follow-count{
    padding: 2px 0px;
  }
  .follow {
    position: absolute;
    right: 0px;
    top: 0px;
    left: 0px;
    padding: 2px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
  }
  .contract-container {
    > div {
      .icon {
        margin-right: 5px;
      }
      width: 100%;
      color: $light-font-color-400;
      padding: 5px 10px;
      word-break: break-all;
      font-size: 13px;
      display: flex;
      align-items: center;
      a {
        color: inherit;
      }
    }
  }
  .base-container, .contract-container, .extra-container{
    margin: 5px 0px;
    padding: 3px 0px;
    width: 100%;
    border-bottom: 1px solid $light-font-color-300;
  }
  .name {
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px $text-shadow;
    color: $light-font-color-100;
  }
  .follow-count {
    color: $light-font-color-200;
    font-size: 0.8rem;
  }
  .about-me {
    font-size: 0.8rem;
  }
  position: absolute;
  padding: 40px 10px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 220px;
  background-color: ivory;
  display: flex;
  flex-flow: column;
  align-items: center;
  .base-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .name {
      text-transform: capitalize;
    }
  }
}
.tm-single-post {
  max-width: 960px;
  margin: 20px auto;
}
.tm-posts, .tm-single-post {
  width: 100%;
  .actions {
    padding: 60px 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    background: white;
    transform: translateY(-50%);
  }
  .tm-single-groud {
    background: $main-bg-color;
    padding: 10px;
    text-shadow: 1px 1px 2px $text-shadow;
  }
  .tm-post-piece {
    cursor: pointer;
    text-shadow: 1px 1px 2px $text-shadow;
    h6 {
      cursor: pointer;
      display: flex;
      align-items: center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 5px 2%;
      background: white;
      font-size: 0.8rem;
      margin: -10px;
      position: relative;
      color: #3c1e1e;
      .words {
        font-size: inherit;
        position: absolute;
        right: 2%;
      }
      time {
        color: inherit;
        font-size: inherit;
      }
    }
    border-radius: 5px;
    margin: 20px 0px;
    background: $main-bg-color;
    padding: 10px;
  }
}
.tm-post-editor{
  width: 100%;
}
.tm-ace-editor {
  position: fixed;
  left: 0px;
  top: 0px;
  top: 103px;
  bottom: 0px;
}
.tm-post-editor-header {
  height: 46px;
  background: whitesmoke;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2px 10px;
  position: relative;
  button {
      margin: 0px 5px;
  }
  #title {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    color: $light-font-color-200;
    align-items: center;
    justify-content: flex-start;
    padding: 2px 10px;
    h1, h2, h3, h4, h5, h6 {
      font-size: 1.2rem;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      margin: 0px;
    }
  }
}
.tm-mk-preview {
  position: fixed;
  left: calc(100% - 50vw);
  right: 0;
  overflow: auto;
  top: 103px;
  background: hsla(0,0%,100%,.2);
  bottom: 0;
}
.read-more-link{
  color: #ecc795;
  letter-spacing: 1px;
  font-size: 0.5rem;
  cursor: pointer;
  padding: 1%;
  &:hover {
    text-decoration: none;
    color: white;
  }
}
.layout {
  position: relative;
  overflow: auto;
  height: 100%;
}

@media (max-width: 767px) {
  .tm-posts-view {
    margin: 30px 10px;
    max-width: 460px;
    height: 100%;
  }
  .tm-me-stories-header {
    .buttons {
      display: none !important;
    }
    
  }
  .tm-single-post-view {
    position: static;
  }
  .tm-profile {
    width: 100%;
    position: static;
    height: 180px;
    padding: 20px;
    flex-flow: row nowrap;
  }
}
.tm-block-ui {
  width: 100%;
  height: 100%;
}

.clap-btn {
  display: inline-block;
  Cursor: pointer;
  width: 80px;
  height: 80px;
}

.clap-btn {
  background: url('../assets/claps.png') no-repeat 0% 50%;
  background-size: 900%;
 }

.clap-active {
  animation-name: animate;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.clap-active {
   animation-timing-function: steps(8);
}
@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}
.clap-container {
  position: relative;
  align-items: center;
  .count {
    &.counting {
      opacity: 1;
      transform: translate(-50%, -20px) rotate(0deg) skew(0deg, 0deg) scale(0.9, 0.9);
    }
    transition: all 0.3s ease;
    opacity: 0;
    color: white;
    background: $clap-seceond-color;
    top: -35px;
    transform: translate(-50%, -3px) rotate(0deg) skew(0deg, 0deg) scale(1, 1);
    position: absolute;
    left: 50%;
    backface-visibility: hidden;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 35px;
    font-size: 0.8rem;
  }
  .total-count {
    font-size: 0.8rem;
    position: absolute;
    bottom: 8px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $light-font-color-100;
  }
}
#tm-ace-markdown-editor {
  border-right: 1px solid white;
}
button {
  outline-color: $primary-color !important;
}
.tm-me-stories {
  margin: 0px 0px;
  height: 100%;
  background-color: white;
  overflow: hidden;
  .tm-me-stories-header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    .header {
      justify-content: flex-start;
    }
    .buttons {
      display: flex;
      flex: 2;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
.tm-dv {
  height: 100%;
  position: relative;
  padding-top: 30px;
  .tm-dv-row {
    padding: 20px 0px;
    display: block;
    border-bottom: 1px solid rgb(230, 230, 230);
    .tm-dv-title {
      font-weight: 700;
      max-height: 40px;
      letter-spacing: 0;
      text-overflow: ellipsis;
      color: rgba(41, 41, 41, 1);
      line-height: 20px;
      font-size: 16px;
      overflow-wrap: break-word;
      word-break: break-word;
      a {
        color: inherit;
        text-transform: none;
        text-decoration: none;
      }
    }
    .tm-dv-fn {
      font-size: 14px;
      color: rgba(117, 117, 117, 1);
      font-weight: 400;
      line-height: 20p;
    }
  }
  .tm-dv-h {
    .tm-dv-cp{
      &.waiting  {
        opacity: 0;
      }
      font-size: inherit;
      color: inherit;
      opacity: 1;
      transition: all 0.3s ease;
    }
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    color: $light-font-color-100;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.9rem;
    .tm-dv-ft-pn {
      margin: 0px 10px;
      align-items: center;
      display: flex;
    }
  }
}
.tm-dv-loading {
  color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-height: 400px;
}
.tm-tabpanel {
  overflow: auto;
  height: 400px;
}